---
import { SITE } from 'astrowind:config';

const currentPath = new URL(Astro.url).pathname;
const isFR = currentPath.startsWith('/fr');
const homeUrl = isFR ? '/fr/' : '/';
const logoText = isFR ? 'Code Promo TrendTrack' : 'TrendTrack Promo Code';
---

<a href={homeUrl} class="flex items-center -ml-0">
  <img
    src="/sitelogo.png"
    alt={logoText}
    class="h-8 w-8 object-cover rounded-md"
  />
  <span class="ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {logoText}
  </span>
</a>
