---
---

<a href="/" class="flex items-center">
  <img 
    src="/logo.png" 
    alt="TrendTrack Logo" 
    class="h-8 w-auto" 
  />
  <span class="ml-2 self-center text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    TrendTrack Promo Code
  </span>
</a>
