---
import { SITE } from 'astrowind:config';

const currentPath = new URL(Astro.url).pathname;
const isFR = currentPath.startsWith('/fr');
const isPL = currentPath.startsWith('/pl');
let homeUrl = '/';
let logoText = 'TrendTrack Promo Code';
if (isFR) {
  homeUrl = '/fr/';
  logoText = 'Code Promo TrendTrack';
} else if (isPL) {
  homeUrl = '/pl/';
  logoText = 'Kod Rabatowy TrendTrack';
}
---

<a href={homeUrl} class="flex items-center -ml-0">
  <img
    src="/sitelogo.png"
    alt={logoText}
    class="h-8 w-8 object-cover rounded-md"
  />
  <span class="ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {logoText}
  </span>
</a>
