---
---

<a href="/" class="flex items-center flex-shrink-0 mr-4">
  <img 
    src="/logo.png" 
    alt="TrendTrack Logo" 
    class="h-8 w-8 object-cover rounded-md" 
  />
  <span class="ml-2 hidden md:block text-lg font-bold text-gray-900 whitespace-nowrap dark:text-white">
    TrendTrack Promo Code
  </span>
</a>
