---
import { SITE } from 'astrowind:config';
---

<a href="/" class="flex items-center">
  <img 
    src="/sitelogo.png" 
    alt={SITE?.name} 
    class="h-8 w-8 object-cover rounded-md" 
  />
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    TrendTrack Promo Code
  </span>
</a>
